.pathFinder{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.banner-div{  
    background-color:#2f4a6a ;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
}

.banner-text{
    color: #EBF2FA;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}
.matrix-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 
    
    /*grid-template-columns: repeat( auto-fit, minmax(1rem, 3rem) );
    justify-content: center;
    */
}

.buttons-container{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center ;
}

button {
    all:unset;
    padding: 0.5rem;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 10px;
    color: #EBF2FA;
  
}

.visualize{
    background-color: #4eac85;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}